body {
    color: darkblue
}

th {
    padding-bottom: 10px;
    padding-top: 10px;
}

tr.even {
    background-color: #b8d1f3;
}

tr {
    background-color: #dae5f4;
}

td {
    text-align: center; 
    vertical-align: middle;
}

table {
    min-width: 500px;
    margin-bottom: 20px;
}

input {
    min-height: 25px;
    min-width: 100px;
    margin: 10px;
    text-align: center;
    font-size:20px;
}

button {
    height: 30px;
    width: 100px;
    border-radius: 5px;
    background-color: #dae5f4;
}
